@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
            @if (Job.Pending)
            {
                <li>Status: Pending</li>
            }
            @if (Job.Completed)
            {
                <li>Status: Completed</li>
            }
            @if (Job.Worker == null)
            {
                <li>Status: Unclaimed</li>
            }
            @if (Job.Worker != null)
            {
                <li>Status: Claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>
            }
        </ul>
        @if (Job.Worker == null && Job.FindWorker(User.Identity.Name).Available)
        {
            //TODO: Make the Actionlink's appearance conditional on .Available.
        <li class="btn">This job is unclaimed. @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</li>
        }
    </ul>


    <hr />
}

