@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MrFixIt.Models.Job
<script type="text/javascript">
    $(document).ready(function () {
        $('.pending-job').submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("Pending")',
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (result) {
                    console.log(result);
                    $(".success").html("You have successfully pending-ed this job!");
                }
            });
        });
    });
</script>

<h2>Would you like to mark this job in progress?</h2>
<hr />

@if (!Model.Pending)
{
    <form action="Pending" class="pending-job">
        @Html.HiddenFor(model => model.JobId)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Description)

        <h4>@Model.Title</h4>
        <input type="submit" value="Mark This Job Pending" />
        <div class="success"></div>
    </form>
} else if (Model.Pending)
{
    <p>This job is already pending.</p>
} else if (Model.Completed)
{
    <p>This job is already complete.</p>
}

<p>@Html.ActionLink("Back to list", "Index", "Workers")</p>