@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            <h5>@Job.Title @if (</h5>
            <p>@Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</p>
            <p>@Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</p>

        }
        @if (Model.Available)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <h2>You already have a job. Maybe do that?</h2>
        }
    </div>
}